{% extends "dopamine/base.html" %}
{% load static %}
{% block banner_slider %}
<link href="{% static 'dopamine/css/home.css' %}" rel="stylesheet"/>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'dopamine/images/banner/banner1.png' %}" class="d-block w-100 custom-carousel-img" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'dopamine/images/banner/banner2.png' %}" class="d-block w-100 custom-carousel-img" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'dopamine/images/banner/banner3.png' %}" class="d-block w-100 custom-carousel-img" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock banner_slider %}
{% block main-content %}
<div class="row" style="width:100%">
  {% for product in products %}
  <div class="col-lg-2">
    <div class="box-element">
      <div class="product-image">
        <img class="thumbnail" src="{{ product.ImageProduct }}" alt="{{ product.name }}">
         <div class="button-container">
          <a href="#" data-product="{{ product.id }}" data-action="add" class="add-to-cart">
            <img src="{% static 'dopamine/images/shoppingcart.png' %}" alt="Thêm vào giỏ hàng">
          </a>     

          <a href="{% url 'detail' %}?id={{product.id}}"><img src="{% static 'dopamine/images/search.png' %}" alt="Xem chi tiết"></a>
        </div>
      </div>
      <div class="product-details">
        <h5 class="product-name">{{product.name}}</h5>
        <h5 class="product-price">{{product.price|floatformat:3}}đ</h5>
      </div>
    </div>
  </div>  
    {% endfor %}  
  </div>
{% endblock main-content %}

