{% extends "dopamine/base.html" %}
{% load static %} 

{% block extra_css %}
<link href="{% static 'dopamine/css/recipe_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block main-content %}
<div class="recipe-detail">
    <h2>{{ recipe.name }}</h2>
    <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" style="width:200px; height:auto;">
    <h3>Mô tả</h3>
    <p>{{ recipe.description }}</p>
    <h3>Nguyên liệu</h3>
    <p>{{ recipe.ingredients }}</p>
    <h3>Cách thực hiện</h3>
    <p>{{ recipe.steps }}</p>
</div>
{% endblock main-content %}
